:root {
    --yellow: hsl(47, 88%, 63%);
    --gray-950: hsl(0, 0%, 7%);
    --gray-500: hsl(0, 0%, 42%);
    --white: hsl(0, 0%, 100%);
    
    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
    --sapce-50: 4px;

    --radius-lg: 20px;
    --radius-sm: 10px;

    --family-sans: "Figtree", sans-serif;

    --text-preset-1: 24px;
    --text-preset-2: 16px;
    --text-preset-3: 14px;
    --text-preset-3-bold: 14px;

    --line-preset: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--yellow);
}

body {
    font-family: var(--family-sans);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.card {

}

.category {
    
}

.preview {
   
}


