:root {
    --yellow: hsl(47, 88%, 63%);
    --gray-950: hsl(0, 0%, 7%);
    --gray-500: hsl(0, 0%, 42%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;

    --radius-lg: 20px;
    --radius-sm: 10px;
    --radius-xs: 4px;

    --family-sans: "Figtree", sans-serif;

    --text-preset-1: 24px;
    --text-preset-2: 16px;
    --text-preset-3: 14px;
    --text-preset-3-bold: 14px;

    --line-preset: 1.5;

    --max-width: 384px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--yellow);
    color: var(--gray-500);
    font-family: var(--family-sans);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: var(--text-preset-2);
    line-height: var(--line-preset);
  }

h1 {
    color: var(--gray-950);
    font-size: var(--text-preset-1);
    font-weight: 800;
  }

time {
    color: var(--gray-950);
    font-size: var(--text-preset-3);
    display: block;
  }

  img, picture {
    display: block;
    max-width: 100%;
  }

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-150);
    justify-content: flex-start;
    align-items: center;
  }

  .flow > * + * {
    margin-block-start: var(--flow-space, var(--space-200));
  }
.challenge-wrapper {
    --max-child-width: var(--max-width, 320px);
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: var(--space-200) max(var(--space-200), calc(50% - var(--max-child-width) / 2));
}

.card {
    background-color: var(--white);
    border-radius: var(--radius-lg);
    border: 1px solid var(--gray-950);
    box-shadow: 8px 8px 0 var(--black);
    padding: var(--space-200);
}

.card__image {
    border-radius: var(--radius-sm);
    overflow: hidden;

    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
}

.card__content * {
    --flow-space: var(--space-150);
}

.title a {
    text-decoration: none;
    color: inherit;
    &:hover, &:focus {
        color: var(--yellow);
    }
}

.card__footer {
    color: var(--gray-950);
    font-size: var(--text-preset-3);
    font-weight: 800;

    img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.category {
    background-color: var(--yellow);
    color: var(--gray-950);
    font-size: var(--text-preset-3);
    font-weight: 800;
    padding: var(--space-50) var(--space-150);
    border-radius: var(--radius-xs);
    width: fit-content;
}


