:root {
    --yellow: hsl(47, 88%, 63%);
    --gray-950: hsl(0, 0%, 7%);
    --gray-500: hsl(0, 0%, 42%);
    --white: hsl(0, 0%, 100%);
    
    --sapce-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
    --sapce-50: 4px;

    --radius-lg: 20px;
    --radius-sm: 10px;

    --family-sans: "Figtree", sans-serif;
}

html {
    background-color: hsl(47, 88%, 63%);
}

body {
    font-family: var(--family-sans);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    position: relative;
    width: 384px;
    height: 522px;
    margin: 4% auto;
    text-align: center; 
}

.card > article{
    justify-self: center;
    text-align: left;
    padding-right: 40px;
    padding-left: 30px;
}

.card > footer {
    text-align: left;
    padding-top: 60px;
    padding-left: 40px;
}

.category {
    background-color: hsl(47, 88%, 63%);
}

.preview {
    width: 90%;
    height: 200px;
    align-self: center;
    padding-top: 20px;
    border-radius: 20px;
}


